body {
    background-color: #00CBEB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

header {
    background-color: #FFF;
    border-radius: 15px;
    padding: 24px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 5vh;
    color: #00CBEB;
}

main {
    background-color: #FFF;
    border-radius: 15px;
    padding: 24px;
    max-width: 80%;
    margin: auto;
}

h1 {
    font-size: 3rem;
    color: #00899E;
    margin: 4px 12px;
    display: inline;
}

h2 {
    font-size: 5rem;
    margin: 12px;
}

#answer {
    color: #00CBEB;
}

p {
    margin: 24px 12px;
    color: #00899E;
}

.italic {
    font-style: italic;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*
        <span class="material-symbols-outlined">
            robot_2
        </span>
        <span class="material-symbols-outlined">
            vacuum
        </span>
*/
